DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_TIME_ZONE=UTC
DB_ENGINE=django.db.backends.mysql
DB_NAME=db_punto_venta
DB_USER=root
DB_PASSWORD=12345
DB_HOST=127.0.0.1
DB_PORT=3306
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=1
